@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

::selection {
  background-color: #5e2bff;
  color: #26e8a0;
}

body {
  background-color: #181818;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  cursor: url("./assets/WiiCursor.cur"), pointer;
}
