.container {
    margin-left: 40px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rightPanel {
    width: 50vw;
    height: 350px;
    background-color: #f0f0f0;
}

.innerPanel {
    width: 100%;
    height: 30px;
    background-color: red;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
